**/.DS_Store
.DS_Store
dist/pyds9*
build/
pyds9plugin/old_to_delete
__pycache__

pyds9plugin/images/*.png
pyds9plugin/images/*.xml
pyds9plugin/test*

pyds9plugin/doc/ref/old_high_quality/

pyds9plugin.egg-info/

pyds9plugin/Images/*.reg
pyds9plugin/Images/*.csv

pyds9plugin/Images/stack_big.fits
pyds9plugin/Images/*modified*

pyds9plugin/Images/m33_hi2.fits
pyds9plugin/Images/HorseHead.fits

pyds9plugin/Images/G_Trimm.fits

pyds9plugin/doc/ref/old_only_ok/
