**/.DS_Store
.DS_Store
dist/pyds9*
build/
pyds9plugin/old_to_delete
__pycache__

pyds9plugin/Images/*.png
pyds9plugin/Images/*.xml
pyds9plugin/test/*
pyds9plugin.egg-info/

pyds9plugin/Images/*.reg
pyds9plugin/Images/*.csv

pyds9plugin/Images/stack_big.fits
pyds9plugin/Images/*modified*
pyds9plugin/Images/m33_hi*.fits
pyds9plugin/Images/*modified*.fits
pyds9plugin/Images/stack_cat.fits
pyds9plugin/Images/stack18446197_cat.fits

pyds9plugin/.remote-sync.json
pyds9plugin/Images/stack copie.fits
pyds9plugin/__init__.py
pyds9plugin/__init__.pyc

pyds9plugin/DS9Utils_.cpython-36m-darwin.so
pyds9plugin/config/verbose.npy
setup_cython.py
pyds9plugin/DS9Utils.c


*.xsl
pyds9plugin/Macros/Plot_filters.py
.coverage
*.dat
sex.xml
htmlcov/
pyds9plugin/testing/profiles/
pyds9plugin/testing/files/
pyds9plugin/Macros/Create_contour_regions.oy
pyds9plugin/Macros/EMCCD.py
report/*
!*/coverage.xml
pyds9plugin/Macros/Fitting_Functions/EMCCD.py
pyds9plugin/photometry.py

Sans titre

.obsidian/

pyds9plugin/MaxiMask-1.1/

pyds9plugin/Macros/FIREBall/pc_redux.py

pyds9plugin/Macros/FIREBall/ptc_redux_bench.py

pyds9plugin/.vscode/

pyds9plugin/Images/TF_18445218.jpeg

pyds9plugin/Images/Throughfocus_18445218_18448483_cat.fits

pyds9plugin/Macros/FB/EMCCD/histograms/
